@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to left, #201b2c, #ad3ecd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-img{
    width: 35vw;
    border-radius: 25% 10%;
    box-shadow: 0px 10px 40px #daf4fb;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: black;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #daf4fb;
}

.card-login h1{
    color: #ad3ecd;
    font-weight:800;
    margin: 0;
    text-transform: uppercase;
}

.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-field input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:#daf4fb;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #daf4fb;
    outline: none;
    box-sizing: border-box;
}

.text-field label{
    color: #daf4fb;
    margin-bottom: 10px;
}

.text-field input::placeholder{
    color: black;
    
}

.btn-login{
    width: 30%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #ad3ecd;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #daf4fb;
}

small{
    display: flex;
    color: #daf4fb;
}

@media only screen and (max-with:950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-with:600px){
    .main-login{
        flex-direction: column;
    }
    }