* {
    font-family: helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background-color: rgba(255, 247, 251, .45);
}

/* Cabeçalho */

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    /* z-index: 1000;*/
}

.header .logo img {
    height: 110px;
    border-radius: 50%;
}

/* fim cabeçalho */


.group-header {
    padding: 100px 0px 40px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.group-header .logo-texts {
    margin-left: 67px;
    width: 412px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.group-header .logo-texts .logo {
    height: 133px;
    display: flex;
}

.group-header .logo-texts .texts {
    text-align: left;
}

.group-header .texts .pulso-heading {
    margin-top: 15px;
}

.biHOGV.pulso-heading--small {
    font-size: 30px;
    line-height: 140%;
}

.biHOGV.pulso-heading {
    color: rgb(78, 81, 97);
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    text-align: left;
    letter-spacing: 0px;
    margin: 0px;
}

.group-header .texts .pulso-paragraph {
    margin: 10px 0px;
}

.jpcxED .title-description .pulso-paragraph {
    margin-top: 8px;
}

.ekmaPc.pulso-paragraph {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    line-height: 150%;
    letter-spacing: 0px;
}

.ilustration {
    flex-basis: calc(50% - 20px);
    text-align: center;
}

.ilustration img {
    width: 636;
    height: 406;
    fill: none
}


.title-Container {
    display: flex;
    padding: 60px 0px 60px;
    justify-content: center;
    font-size: 20px;
}


/* Inicio dos Icones */

.cZYBrP {
    padding: 30px 0px 30px;
    margin-top: -40px;
    transform: translate(30%, 30%);
    max-width: 1040px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    flex-direction: row;
    justify-content: space-evenly;
    top: 548px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 233, 235);
    box-shadow: rgba(207, 208, 216, 0.16) 0px 4px 10px, rgba(113, 118, 142, 0.24) 0px 2px 8px;
    border-radius: 8px;
}

.bTufJZ {
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.bTufJZ .icon-box {
    margin-top: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(228, 245, 248);
}

.bTufJZ .icon-box {
    font-family: RDSansSymbols !important;
}

i {
    font-size: 32px;
    height: 32px;
    width: 32px;
    color: rgb(0, 120, 139);
    display: inline-block;
    text-align: center;
}

.bTufJZ span.text {
    margin-top: 0px;
    margin-left: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}


/* Fim dos Icones */



.results-container {
    margin-left: 0px;
}

.kgyiTV {
    margin-top: 20px;
}

.kSKMik .cards-service {
    padding: 20px 0px 20px;
    column-gap: 12px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 24px 16px;
}

.kSKMik .cards-service .service-result-card {
    max-width: 348px;
    width: 100%;
}

.jpcxED {
    padding: 20px 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(213, 215, 224);
    border-radius: 8px;
}

.jpcxED .first-row {
    width: 100%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

.jpcxED .first-row .time-price {
    padding: 8px 7px;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.jpcxED .title-description {
    margin-top: 8px;
    height: 166px;
}

.biHOGV.pulso-heading--tiny {
    font-size: 16px;
    line-height: 150%;
}


.jpcxED .first-row .time-price span.pulso-icon {
    font-family: RDSansSymbols !important;
}

.grXOkn.pulso-icon--small {
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.grXOkn.pulso-icon {
    color: rgb(44, 46, 56);
    display: inline-block;
    text-align: center;
}

.jpcxED .first-row .time-price .price {
    padding-right: 10px;
    border-right: 1px solid rgb(58, 60, 71);
    margin-right: 10px !important;
}

.jpcxED .first-row .time-price .price-time {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgb(58, 60, 71);
    margin: 0px 10px 0px 8px;
}

.jpcxED .buttons-footer {
    margin-top: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.jpcxED .buttons-footer .pulso-button--primary {
    margin-right: 4px;
}

.cJmrHH {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(0, 120, 139);
    border-radius: 8px;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    transition-duration: 0.2ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
}

.jwWlGw {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6px;
    text-align: center;
}


.fVSzUS {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(0, 120, 139);
    border-radius: 8px;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    transition-duration: 0.2ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);

}

.dialog {
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: coral;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 50px;
    left: 50px;
}

.dialog .model-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}